body{
    background-color: cornflowerblue
}

.login-wrapper{
    width: 400px;
    height: 350px;
    padding: 40px;
    box-sizing: border-box;
    background-color: #EEEFF1;
    margin-left:auto;
    margin-right: auto;
}
.container {
    background-color: aliceblue;
}

.login-form {
    widows: 300px;
  
}

.login-btn {
    font-size: 15px;
  border: none;
  padding: 10px;
  width: 320px;
  background-color: cornflowerblue;
  margin: auto;
  color: white;
}

.text-filed {
      font-size: 15px;
      padding: 10px;
      border: none;
      width: 300px;
      margin-bottom: 10px;
}
